body {
    margin: 0;
    padding: 0;
}
* {
    font-family: sans-serif;
}

img{
    background-color: #111;
}

.carousel .carousel-inner .carousel-item img{
    height: 100vh;
}

img[fit-cover]{
    object-fit: cover;
}
img[fit-contain]{
    object-fit: contain;
}